/* * {
    border: 1px solid red;
} */

details {
    --defaultPadding: 5px;
}

.productBox {
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: var(--defaultPadding);
}

.productBox > summary {
    /* increase summary hit box size to account for parent's padding*/
    padding: var(--defaultPadding);
    margin: calc(-1 * var(--defaultPadding));
}

.productContent {
    display: grid;
    grid-template-areas: "a b";
}

.productContent > div {
    grid-area: "a";
    display: inline-block;
    width: 50%;
    margin-inline-start: 2ch;
    color: rgba(68, 68, 68, 0.7);
}
.productContent > div > p {
    margin-block: 0.7ch;
}

.productImg {
    grid-area: "b";
    height: 19ch;
    padding: 17px;

    border: 1px solid rgba(27, 27, 27, 0.918);
}