<h2>Enter your search</h2>

<!-- <input type="text" (keyup)="hello($event)" /> -->

<hr />

<input [formControl]="searchControl" >

<hr />

<!-- search output from filtered array -->
<details *ngFor="let i of searchResult | slice:1:10" class="productBox" >
    <summary> {{i.title}} </summary>
    <div class="productContent">
        <div>
            <p> Brand: {{i.brand}} </p>
            <p> Price: {{i.price}} </p>
            <p> Productno.: {{i.productno}} </p>
            <p> Color: {{i.color}} </p>
            <p> Size: {{i.size}} </p>
        </div>
        <img src="./assets/circle-loading-gif.webp" class="productImg">
    </div>
</details>


<hr />
<!-- <ul>
    <li *ngFor="let i of testArr | slice:1:10"> {{i.title}}</li>
</ul>
<ul>
    <li *ngFor="let i of productList?.content | slice:1:10"> {{i.productno}}</li>
</ul> -->